
body{
    background-color: #002200
}

h1{
 color: #FFD700;
 margin: 10px 0px;
 font-family: Times New Roman;
 font-size: 45px;
}

#message {
    margin: auto;
    width: 50%;

}
h2{
 color: #FFD700;
 margin: 15px 17px;
 font-family: Times New Roman;
 font-size: 38px
}
p{
 color: #ffffff;
 margin: 15px 30px;
 font-family: Times New Roman;
 font-size: 16px;
 text-align: justify;
}
a:link {
 color: #8d8af6;
 text-decoration: none;
}
a:visited {
 color: #887a9e;
 text-decoration: none;
}
a:hover {
 color: #f2f2f6;
 text-decoration: underline;
}
a:active {
 color: #8d8af6;
 text-decoration: underline;
}

li {
    color: white;
}
